@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    background: url('../img/bgcloud.jpg') center center no-repeat;
    background-size: cover;
    height: 1000px;
}
.appContentText {
  position: absolute;
  padding: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  background: #fff;
  top: 13vh;
  -webkit-box-shadow: 0px 6px 17px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 6px 17px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 6px 17px 0px rgba(50, 50, 50, 0.75);
}
.mainData {
  display: flex;
  justify-content: center;
  margin: 0 auto 15px;
  text-align: center;
  flex-direction: column;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}
.mainData p {
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}
.CloudData {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  width: 65%;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}
.fa-sun {
  position: relative;
  left: -33px;
  top: -10px;
}
.glowne {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  margin: 0 0 15px;
  font-family: 'Raleway', sans-serif;
}
.teperature {
    margin-bottom: 15px;
    display: block;
}
.wiatr {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}
.wiatr strong {
  margin: 0 10px 0 0;
}
.wiatr ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.temperature {
  cursor: pointer;
}
.bubblewrapper {
    background: lightgrey;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 2vw;
}

.cloud {
    position: absolute;
    height: 10rem;
    width: 18rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cloud::after {
    content: "Hover for some sun. :)";
    display: block;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: #888;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(150%);
}

.bubble {
    position: absolute;
    border-radius: 100%;
    animation: scale 1.4s ease-in-out alternate infinite;
    box-shadow: 0 0 2rem rgba(150, 150, 255, .05);
    z-index: 2;
    margin: 376px 0 1px 43%;
}

.bubble::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 100%;
}

.bubble:nth-child(1) {
    top: 4rem;
    left: 2rem;
    height: 4rem;
    width: 4rem;
    animation-delay: 0s;
}

.bubble:nth-child(2) {
    top: 2rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    animation-delay: .2s;
}

.bubble:nth-child(3) {
    top: 1rem;
    left: 5rem;
    height: 7rem;
    width: 7rem;
    animation-delay: .4s;
}

.bubble:nth-child(4) {
    top: 2rem;
    left: 9rem;
    height: 6rem;
    width: 6rem;
    animation-delay: .6s;
}

.bubble:nth-child(5) {
    top: 6rem;
    left: 13rem;
    height: 2rem;
    width: 2rem;
    animation-delay: .8s;
}

.bubble:nth-child(6) {
    top: 4.5rem;
    left: 9rem;
    height: 4rem;
    width: 4rem;
    animation-delay: 1s;
}

.bubble:nth-child(7) {
    top: 4rem;
    left: 4rem;
    height: 4rem;
    width: 4rem;
    animation-delay: 1.2s;
}

.sun {
    position: absolute;
    top: 25rem;
    left: 45%;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    background: rgb(255, 229, 2);
    z-index: 1;
    transition: top .75s, left .75s;
}

.bubble:hover~.sun {
    top: 24rem;
    left: 52rem;
    animation: sunflare 2s ease-out infinite, move 2.5s .75s ease-in-out alternate infinite;
    box-shadow: 0 0 0rem 1rem rgba(255, 187, 2, .25);
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes move {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-.4rem);
    }
}

@keyframes sunflare {
    from {
        box-shadow: 0 0 0rem 0rem rgba(255, 187, 2, .25);
    }
    to {
        box-shadow: 0 0 0rem 1rem rgba(255, 187, 2, 0);
    }
}

/* Animation */

.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 23em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.line-1 {
    position: relative;
    top: 538px;
    width: 55em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    left: 0%;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    font-weight: 700;
    font-family: 'Electrolize', sans-serif;
}

.hide {
    display: none !important;
}

.weatherAppHeading {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
@media screen and (min-width:480px) and (max-width:767px) {
    .appContentText {
        width: 95%;
        top: 5vh;
        padding: 10px;
    }
    .CloudData {
        flex-direction: column;
    }
    .glowne {
        font-size: 1em;
    }
    .CloudData {
        font-size: 1em;
    }
    .CloudData p {
        margin: 0;
        padding: 0;
    }
    .wiatr {
        font-size: 1em;
    }
    .mainData {
        font-size: 1em;
        margin: 0;
    }
    .sun {
        top: 25rem;
        left: 21%;
    }
    .bubble:hover~.sun {
        top: 24rem;
        left: 22%;
    }
    .line-1 {
        font-size: 2em;
    }
    .bubble {
        margin: 390px auto auto 27%;
    }
    .bubble {
        margin: 390px auto auto 18%;
    }
}
@media screen and (min-width:1024px) and (max-width:1365px) {
    .appContentText {
        width: 70%;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .appContentText {
        width: 95%;
    }
    .bubble {
        margin: 390px auto auto 30%;
    }
    .sun {
        top: 25rem;
        left: 19%;
    }
    .bubble:hover~.sun {
        top: 24rem;
        left: 17rem;
    }
}
@media screen and (min-width:480px) and (max-width:767px) {
    .appContentText {
        width: 95%;
    }
}
@media screen and (max-width:410px) {
    .bubble {
        margin: 390px auto auto 4% !important;
    }
}
@media screen and (min-width:240px) and (max-width:479px) {
    .appContentText {
        width: 95%;
        top: 5vh;
        padding: 10px;
    }
    .CloudData {
        flex-direction: column;
    }
    .glowne {
        font-size: 1em;
    }
    .CloudData {
        font-size: 1em;
    }
    .CloudData p {
        margin: 0;
        padding: 0;
    }
    .wiatr {
        font-size: 1em;
    }
    .mainData {
        font-size: 1em;
        margin: 0;
    }
    .sun {
        top: 25rem;
        left: 2rem;
    }
    .bubble:hover~.sun {
        top: 24rem;
        left: 1rem;
    }
    .line-1 {
        font-size: 2em;
    }
    .bubble {
        margin: 390px auto auto 18%;
    }
}